<div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 my-4">
  <mat-form-field class="w-full">
    <mat-label>Tipo:</mat-label>
    <input matInput type="text" placeholder="Residencial" value="Residencial" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Rua:</mat-label>
    <input matInput type="text" placeholder="Rua de Tal" value="Rua de Tal" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Complemento:</mat-label>
    <input matInput type="text" placeholder="Próximo ao parque" value="Próximo ao parque" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>País:</mat-label>
    <input matInput type="text" placeholder="Brazil" value="Brazil" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Estado:</mat-label>
    <input matInput type="text" placeholder="Rio Grande do Sul" value="Rio Grande do Sul" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Cidade:</mat-label>
    <input matInput type="text" placeholder="Caxias do Sul" value="Caxias do Sul" />
  </mat-form-field>
</div>

<hr class="block lg:hidden">

<div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 my-4">
  <mat-form-field class="w-full">
    <mat-label>Tipo:</mat-label>
    <input matInput type="text" placeholder="Residencial" value="Residencial" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Rua:</mat-label>
    <input matInput type="text" placeholder="Rua de Tal" value="Rua de Tal" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Complemento:</mat-label>
    <input matInput type="text" placeholder="Próximo ao parque" value="Próximo ao parque" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>País:</mat-label>
    <input matInput type="text" placeholder="Brazil" value="Brazil" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Estado:</mat-label>
    <input matInput type="text" placeholder="Rio Grande do Sul" value="Rio Grande do Sul" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Cidade:</mat-label>
    <input matInput type="text" placeholder="Caxias do Sul" value="Caxias do Sul" />
  </mat-form-field>
</div>

<hr class="block lg:hidden">

<div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 my-4">
  <mat-form-field class="w-full">
    <mat-label>Tipo:</mat-label>
    <input matInput type="text" placeholder="Residencial" value="Residencial" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Rua:</mat-label>
    <input matInput type="text" placeholder="Rua de Tal" value="Rua de Tal" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Complemento:</mat-label>
    <input matInput type="text" placeholder="Próximo ao parque" value="Próximo ao parque" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>País:</mat-label>
    <input matInput type="text" placeholder="Brazil" value="Brazil" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Estado:</mat-label>
    <input matInput type="text" placeholder="Rio Grande do Sul" value="Rio Grande do Sul" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Cidade:</mat-label>
    <input matInput type="text" placeholder="Caxias do Sul" value="Caxias do Sul" />
  </mat-form-field>
</div>

<hr class="block lg:hidden">
